*{
	background: #202124;
	color: 	#fff;
}
header img {
	border-radius: 100%;
	width: 150px;
	height: 150px;
	padding: 3px;
	margin: 10px;
}



section{
	padding: 20px 10%;
	font-size: 1.5em;
}
button{
	border: none;
}

#Perfil{
	display: block;

}

#Habilidades{
	display: none;
}

#Idiomas{
	display: none;
}
#Software{
	display: none;
}
#Experiencia{
	display: none;
}
#Formación{
	display: none;
}

#Experiencia div {
	border: 1px solid #695d16;
	margin: 5px;
	padding: 3px;
}

#Formación div {
	border: 1px solid #695d16;
	margin: 5px;
	padding: 3px;
}

.borderColor{
	background-image: radial-gradient(#695d16, #202124);

}

footer{
	color: 	#000;
}
#nav{
	padding: 0;
	border-top: 0.3em solid #695d16;
	border-bottom: 0.4em solid #695d16;
}

footer ul {
	border-top: 1px solid #695d16;
	border-bottom: 1px solid #695d16;
}